* {
    box-sizing: border-box;
  }
  body {
      margin: 0;
      font: 14px/23px sans-serif;
      color: #686868;
  }
  #navbar {
      position: fixed;
      width: 150px;
      border-right: 2px solid #9E9E9E;
      height: 100%;
      color: #4c4b49;
  }
  #navbar header {
      border-bottom: thin solid black;
      padding: 0px 15px
  }
  #navbar article ul {
      font-size: 130%;
          font-size: 130%;
      padding-left: 5px;
      margin: 0px;
  }
  
  .nav-link {
      border-bottom: thin solid black;
      text-decoration: none;
      line-height: 50px;
          color: #686868;
          display: block;
  }
  #main-doc {
      margin-left: 140px;
      overflow-x: hidden;
      padding: 15px;
  }
  h2 {
      color: #4c4b49;
    margin-left: 5px;
  }
  h3 {
    margin-left: 5px;
  }
  code, #Anatomy_of_an_HTML_document li #code_two{
      display: block;
      text-align: left;
      white-space: pre;
      word-break: normal;
      word-wrap: normal;
      background-color: #120f0f;
      max-width: 90%;
      overflow-x: auto;
      margin: auto;
    color: #28c4d4;
  }
  #Anatomy_of_an_HTML_document li code {
      display: inline;
      background: #e5e5e5;
  }
  
  p {
      margin-left: 25px;
  }
  @media only screen and (min-device-width: 768px) {
    #navbar {
      width: 300px;
    }
    #main-doc {
      margin-left: 290px;
    }
  }